html {
  font-size: 120%;
}

body {
  max-width: 580px;
  margin: auto;
  padding: 1rem;
  background: white;
  font-family: Merriweather, serif;
  font-weight: 400;
  line-height: 1.5;
}

h1, .h1 {
  font-size: 1.75rem;
  line-height: 3rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}
h1 a, .h1 a {
  text-decoration: none;
}

h2, .h2 {
  font-size: 1.4375rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h3, .h3 {
  font-size: 1.1875rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

h4, .h4 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

h5, .h5 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

small {
  font-size: 65%;
}

.katex {
  font-size: 1em;
}

.logic {
  letter-spacing: 0.1rem;
}

a {
  color: #095070;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.6rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

ol li, ul li {
  margin-bottom: 10px;
}

blockquote {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1em;
  margin-left: 30px;
  border-left: 3px solid #eee;
  color: #757575;
}

hr {
  display: block;
  border: none;
  height: 2px;
  margin: 40px auto;
  background: #eee;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  line-height: 1.5em;
}

th, td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td, td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

thead th, th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  cursor: default;
  white-space: nowrap;
  border: 1px solid #dadadc;
}

tr > td {
  border: 1px solid #dadadc;
}

tr:nth-child(odd) > td {
  background: #fcfcfc;
}

.sitetitle a {
  color: #702a09;
}

.sitetitle a:hover {
  color: #702a09;
}

.navlist {
  font-size: 0.8rem;
  line-height: 1;
}

.anchor {
  font-size: 100%;
  visibility: hidden;
  color: silver;
}

.prev {
  float: left;
}

.next {
  float: right;
}

.single-nav {
  color: #702a09;
}

.item {
  margin-bottom: 100px;
}

/* Poem styles */
/* If you want your lines not to wrap on small screens, add the rule "white-space: nowrap;"; If you want you want to remove the hanging indent, reset the padding-left to 0 and erase text-indent */
.poetry ul, ul.poetry {
  list-style: none;
  list-style-type: none;
  padding-left: 1rem;
  text-indent: -1rem;
}

/* This snippet helps us reset the margin for all spans with the indent- class */
.poetry span[class^=indent-] {
  margin: 0; /* reset browsers default margin styles*/
}

/* To set line indentation for poetry wrap the line in a span, with a class="indent-x" attribute. The x is represents an rem (root em) value */
.indent-1 {
  font-style: normal;
  padding-left: 1rem;
}

.indent-2 {
  font-style: normal;
  padding-left: 2rem;
}

.indent-3 {
  font-style: normal;
  padding-left: 3rem;
}

.indent-4 {
  font-style: normal;
  padding-left: 4rem;
}

.indent-5 {
  font-style: normal;
  padding-left: 5rem;
}

.indent-6 {
  font-style: normal;
  padding-left: 6rem;
}

.indent-65 {
  font-style: normal;
  padding-left: 6.5rem;
}

.indent-7 {
  font-style: normal;
  padding-left: 7rem;
}

.indent-8 {
  font-style: normal;
  padding-left: 8rem;
}

.indent-9 {
  font-style: normal;
  padding-left: 9rem;
}

.indent-10 {
  font-style: normal;
  padding-left: 10rem;
}

.poetry .citation {
  font-style: italic;
  font-size: 0.9rem;
  color: gray;
}

/* Footnotes styles */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

.footnotes {
  line-height: 1.2rem;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
}

.footnotes .foot-block {
  display: inline-block;
  padding: 0 4rem 0 2rem;
  margin-bottom: 0.8rem;
  font-style: italic;
}

a.footnote {
  padding-left: 0.1rem;
  font-size: 0.66rem;
}

/*Bibliography styles*/
ol.bibliography {
  list-style-type: none;
  padding-left: 1rem;
  text-indent: -1rem;
}

ol.bibliography li {
  margin: 1rem 0;
}

.arg li:last-child {
  list-style: none;
}

.arg li:nth-last-child(2) {
  text-decoration: underline;
}

.arg li {
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
