$font-stack: Merriweather, serif;
$lgrey: #777;
$mgrey: #444;
$dgrey: #222;
$myred: #702a09;
$myblue: #095070;
$mygreen: #705D09;

html {
font-size: 120%
}

body {
max-width: 580px;
margin: auto;
padding: 1rem;
background: white;
font-family: $font-stack;
font-weight: 400;
line-height: 1.5;
}

