/* Poem styles */

/* If you want your lines not to wrap on small screens, add the rule "white-space: nowrap;"; If you want you want to remove the hanging indent, reset the padding-left to 0 and erase text-indent */

.poetry ul, ul.poetry {
	list-style: none;
	list-style-type: none;
	padding-left: 1rem;
	text-indent: -1rem;
}


/* This snippet helps us reset the margin for all spans with the indent- class */

.poetry span[class^='indent-']{
    margin: 0; /* reset browsers default margin styles*/
}

/* To set line indentation for poetry wrap the line in a span, with a class="indent-x" attribute. The x is represents an rem (root em) value */

.indent-1 {
	font-style: normal;
	padding-left: 1rem;
}

.indent-2 {
	font-style: normal;
	padding-left: 2rem;
}

.indent-3 {
	font-style: normal;
	padding-left: 3rem;
}

.indent-4 {
	font-style: normal;
	padding-left: 4rem;
}

.indent-5 {
	font-style: normal;
	padding-left: 5rem;
}

.indent-6 {
	font-style: normal;
	padding-left: 6rem;
}

.indent-65 {
	font-style: normal;
	padding-left: 6.5rem;
}

.indent-7 {
	font-style: normal;
	padding-left: 7rem;
}

.indent-8 {
	font-style: normal;
	padding-left: 8rem;
}

.indent-9 {
	font-style: normal;
	padding-left: 9rem;
}

.indent-10 {
	font-style: normal;
	padding-left: 10rem;
}

.poetry .citation {
	font-style: italic;
	font-size: .9rem;
	color: gray;
}

/* Footnotes styles */

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}

sub { top: 0.4em; }

.footnotes {
	line-height: 1.2rem;
	font-size: 0.9rem;
	letter-spacing: .01rem;
}

.footnotes .foot-block {
	display: inline-block;
	padding: 0 4rem 0 2rem;
	margin-bottom: .8rem;
	font-style: italic;
}

a.footnote {
	padding-left: .1rem;
	font-size: .66rem;
}

/*Bibliography styles*/

ol.bibliography {
	list-style-type:none;
	padding-left: 1rem;
	text-indent: -1rem;
}

ol.bibliography li{
	margin: 1rem 0;
}

.arg li:last-child {
  list-style: none;
}

.arg li:nth-last-child(2) {
text-decoration: underline;
}

.arg li {
margin: 0px;}
