.sitetitle a {
		color: #702a09;
}

.sitetitle a:hover {
color: #702a09;
}
.navlist {
		font-size: .8rem;
		line-height: 1;
}

.anchor { 
  font-size: 100%; 
  visibility: hidden; 
  color:silver;
}

.prev {
float: left}

.next {
float: right}

.single-nav {
color: #702a09;
}
