h1, .h1 {
font-size: 1.75rem;
		line-height: 3rem;
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		font-weight: 700;

		a {
		text-decoration: none;
		}
}

h2, .h2 {
		font-size: 1.4375rem;
		margin-top: 1.5rem;
		margin-bottom: 1rem;
}

h3, .h3 {
		font-size: 1.1875rem;
		margin-top: 1.5rem;
		margin-bottom: 0rem;
}
h4, .h4 {
		font-size: 1rem;
		margin-top: 1.5rem;
		margin-bottom: 0rem;
}
h5, .h5 {
		font-size: 1rem;
		margin-top: 1.5rem;
		margin-bottom: 0rem;
}

a, b, i, strong, em, small, code {
		line-height: 0;
}
sub, sup {
		line-height: 0;
		position: relative;
		vertical-align: baseline;
}
sup {
		top: -0.5em;
}
sub {
		bottom: -0.25em;
}

small {
  font-size: 65%;
}

.katex {
font-size: 1em;
}

.logic {
letter-spacing: .1rem;
}

