{{ define "main" }}
{{ partial "profile.html" . }}

<section id="archive">

		{{ range .Data.Pages.GroupByDate "2006" }}
		<div class="ml3">
				<h3 class="mb0">
						{{ .Key }}
				</h3>

				{{ range .Pages }}

				<div class="my2">

						<div>
								{{ .Date.Format "Jan 2" }}
						</div>

						<div>
								<a href="{{ .Permalink }}">
										{{ .Title }}
								</a>

								{{ with .Params.tags }}


								<div class="tags">
										{{ range . }}
										<small>
												<a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
										</small>
										{{ end }}
								</div>

								{{ end}}
						</div>
				</div>
				{{ end }}
		</div>
		{{ end }}


</section>


{{ end }}
