{{ define "main" }}

<section id="single">
    <h1 class="center">{{ .Title }}</h1>

    <div class="tip mb1">
        <span class="italic">
          {{ .Date.Format "Jan 2, 2006" }}
        </span>

    </div>

    <div class="content">
      {{  .Content }}
    </div>

    {{ with .Params.tags }}
        <div class="tags">
						<small>Tagged: </small>
            {{ range . }}
						<small>
								<a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
						</small>
						{{ end }}
        </div>
    {{ end}}
    
    {{ partial "comment.html" . }}


</section>

				<div class="mt4">
				{{partial "nav.html" . }}
						</div>
						
{{ end }}

