{{ define "main" }}
{{ partial "profile.html" . }}
<section class="m2">
		{{ $data := .Data }}
		{{ range $key, $value := .Data.Terms.ByCount }}
		{{ if ($value.Name) }}
		<span class="m1 inline-block">
				<a href="{{ "tags/" | relURL }}{{ $value.Name | urlize }}">
						{{ $value.Name | upper }} <span>({{ $value.Count }})</span>
				</a>
		</span>
		{{ end }}
		{{ end }}
</section>
{{ end }}
