<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}

    <p class="copyright center mt4">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright 
      2007&ndash;{{ now.Format "2006"}} 
       
       {{ .Site.Params.Author }}
    {{ end }}
    </p>
    
</footer>
