<div class="single-nav">
<div class="clearfix">
		<div class="left">
				{{ with .NextInSection }}
				<a href="{{ .Permalink }}">{{ .Title }}</a>
				{{ end }}

		</div>
		<div class="right">
				{{ with .PrevInSection }}
				<a href="{{ .Permalink }}">{{ .Title }}</a>
				{{ end }}

		</div>
</div>
</div>






