<div class=" center mb4 sitetitle">
								<h1 class="h2 mb0"><a href="{{ "/" | relURL }}">Randy Ridenour</a></h1>
						<ul class="list-reset m0 navlist">
								<li class="inline-block ml1"><a href="{{ "/posts" | relURL }}">Archive</a></li>
								<li class="inline-block ml1"><a href="{{ "/tags" | relURL }}">Tags</a></li>
								<li class="inline-block ml1"><a href="{{ "/about" | relURL }}">About</a></li>
								<li class="inline-block ml1"><a href="{{ .Site.RSSLink }}">Subscribe</a></li>
						</ul>
				</div>
